{% extends "home/base.twig" %}
{% block title %}提示{% endblock %}
{% block body %}
    <div class="container">
        <br>
        <div class="alert alert-{{ type }}">
            {{ message }}，
            {% if redirect %}
                <a href="{{ redirect }}">点击跳转</a>
            {% else %}
                <a href="javascript:history.back()">点击返回</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
