#top {
    padding-top: 15px;
}

.login-form {
    width: 400px;
    margin: auto;
}

.body {
    padding: 0 30px;
}

.article {
    margin-bottom: 60px;
}

.article-item {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

.article-item:first-child {
    padding-top: 0;
}

.article-item:last-child {
    border-bottom: 0;
}

.article-item-picture img {
    max-height: 200px;
}

.comment {
    margin: 30px 0;
}
