{% extends "admin/base.twig" %}
{% block body %}
    <form method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="标题" required>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="summary" title="摘要" placeholder="摘要"></textarea>
        </div>
        <div class="form-group">
            <textarea name="content" id="content" title="content" hidden></textarea>
            <div id="editor"></div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-ok"></span> 提交
            </button>
        </div>
    </form>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="//cdn.bootcss.com/quill/1.2.4/quill.snow.min.css">
{% endblock %}
{% block script %}
    <script src="//cdn.bootcss.com/quill/1.2.4/quill.min.js"></script>
    <script>
        var editor = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{header: [1, 2, 3, 4, 5, 6, false]}],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'color': [] }, { 'background': [] }],
                    [{list: 'ordered'}, {list: 'bullet'}],
                    ['blockquote', 'link', 'image']
                ]
            }
        });

        editor.on('text-change', function() {
            $('#content').val($('.ql-editor').html());
        });
    </script>
{% endblock %}

