<!DOCTYPE html>
<html>
<head>
    <title>后台管理</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin.css">
    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav">
            {% for item in menu %}
                <li class="{{ item.active ? 'active' : '' }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a>{{ user.name }}</a></li>
            <li><a href="/logout">退出</a></li>
        </ul>
    </div>
</nav>
<div id="body" class="container">{% block body %}{% endblock %}</div>
<script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block script %}{% endblock %}
</body>
</html>