{% extends "admin/base.twig" %}
{% block body %}
    <form class="form-inline" method="post">
        <div class="form-group">
            <label for="nickname">昵称：</label>
            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ user.nickname }}" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
        </div>
    </form>
{% endblock %}
